@import "styles";

.code-snippet {
  background-color: black;
  color: white;
  padding: 16px;
  margin: 16px 0 16px 0;
}

.post-body {
  padding: 16px;
}

.post-table-of-contents {
  padding: 16px;
}

.post-details {
  color: gray;
}

