<h1 class="mat-display-2">
  Tutoriales
</h1>

<mat-chip-list aria-label="Category selection">
  <mat-chip>Deployment</mat-chip>
  <mat-chip>Deployment</mat-chip>
  <mat-chip>Deployment</mat-chip>
  <mat-chip>Deployment</mat-chip>
  <mat-chip>Deployment</mat-chip>
  <mat-chip>Deployment</mat-chip>
  <mat-chip>Deployment</mat-chip>
  <mat-chip>Deployment</mat-chip>
  <mat-chip>Deployment</mat-chip>
</mat-chip-list>

<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayout.sm="column" fxLayoutAlign="left center" fxLayoutGap="16px">
  <mat-card class="post-card" fxFlex.gt-sm="300px" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title [routerLink]="'/post'">Instalación de Dokku en DigitalOcean</mat-card-title>
      <mat-card-subtitle>Nov 12</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="http://lorempixel.com/300/300">
    <mat-card-content>
      <p>
        This is a wider card with supporting text below as a natural lead-in
        to additional content.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="'/post'" color="primary" mat-button>MORE DETAILS</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="post-card" fxFlex.gt-sm="300px" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title [routerLink]="'/post'">Instalación de Dokku en DigitalOcean</mat-card-title>
      <mat-card-subtitle>Nov 12</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="http://lorempixel.com/300/300">
    <mat-card-content>
      <p>
        This is a wider card with supporting text below as a natural lead-in
        to additional content.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="'/post'" color="primary" mat-button>MORE DETAILS</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="post-card" fxFlex.gt-sm="300px" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title [routerLink]="'/post'">Instalación de Dokku en DigitalOcean</mat-card-title>
      <mat-card-subtitle>Nov 12</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="http://lorempixel.com/300/300">
    <mat-card-content>
      <p>
        This is a wider card with supporting text below as a natural lead-in
        to additional content.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="'/post'" color="primary" mat-button>MORE DETAILS</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="post-card" fxFlex.gt-sm="300px" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title [routerLink]="'/post'">Instalación de Dokku en DigitalOcean</mat-card-title>
      <mat-card-subtitle>Nov 12</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="http://lorempixel.com/300/300">
    <mat-card-content>
      <p>
        This is a wider card with supporting text below as a natural lead-in
        to additional content.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="'/post'" color="primary" mat-button>MORE DETAILS</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="post-card" fxFlex.gt-sm="300px" fxFlex.lt-sm="100%">
    <mat-card-header>
      <mat-card-title [routerLink]="'/post'">Instalación de Dokku en DigitalOcean</mat-card-title>
      <mat-card-subtitle>Nov 12</mat-card-subtitle>
    </mat-card-header>
    <img alt="Photo of a Shiba Inu" mat-card-image src="http://lorempixel.com/300/300">
    <mat-card-content>
      <p>
        This is a wider card with supporting text below as a natural lead-in
        to additional content.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button [routerLink]="'/post'" color="primary" mat-button>MORE DETAILS</button>
    </mat-card-actions>
  </mat-card>
</div>
